{% extends 'base.html.twig' %}
{% block title %}Andreotti Ludovic - Cv
{% endblock %}

{% block body %}

	<div class="contact">
		<span>
			06 42 53 39 59</span>
		<span>
			Ludow.drawing@gmail.com</span>
		<span>
			Linkedin</span>
		<span>
			instagram</span>
		<span>
			Facebook</span>
	</div>
{% endblock %}
