{% extends 'base.html.twig' %}
{% block title %}Andreotti Ludovic - Cv
{% endblock %}

{% block body %}


	<header class="contact-header"></header>
	<div class="contact-container">
		<div class="contact-background"></div>
		<span class="contact-email">
			Ludow.drawing@gmail.com
			<button class="button-copy" id="js-contact-copy">copier</button>
		</span>
		<span>
			<strong>06 42 53 39 59</strong>
		</span>
		<div class="contact-rezo">
			<a href="https://www.linkedin.com/in/andreotti-ludovic-090011197" target="_blank">
				Linkedin</a>
			<a href="https://www.instagram.com/ludoandr4rt/" target="_blank">
				Instagram</a>

		</div>
	</div>
{% endblock %}
