{% extends 'base.html.twig' %}

{% block title %}Andreotti Ludovic - Acceuil
{% endblock %}

{% block body %}

	<main class="home">
		<header class="home-header">
			<div class="home-header-background"></div>
			<h1>ANDREOTTI Ludoovic</h1>
		</header>
		<div class="home-interest">
			<aside class="home-interest-list">
				<ul>
					<li>Graphisme</li>
					<li>Dessin</li>
					<li>Velo</li>
					<li>Le Monde des notes</li>
				</ul>

			</aside>
			<div class="home-interest-view">
				<span class="home-interest-prev"></span>
				<img src="" alt="">
				<span class="home-interest-next"></span>
			</div>
		</div>
	</main>
{% endblock %}
