{% extends 'base.html.twig' %}

{% block title %}Andreotti Ludovic - Admin
{% endblock %}
{% block body %}
	adimn page

	<button>
		<a href={{path('app_admin_category_add')}}>
			Catégories
		</button>
		<button>
			<a href={{path('app_admin_pictures_add')}}>
				images
			</button>
		</div>
	{% endblock %}
