* {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(/assets/styles/font/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(/assets/styles/font/Poppins-Bold.ttf);
    font-weight: 600;
}

body {
    background: rgb(43, 51, 55);
    background: linear-gradient(180deg, rgba(43, 51, 55, 1) 0%, rgba(22, 30, 34, 1) 100%);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #E9EBEC;
    --grey: #2B3337;
    --white: #E9EBEC;
    --yellow: #FFC14E;
    --light-yellow: #F2E0BF;
    --blue: #0D425F;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1rem;
}

a {
    color: var(--grey);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}