.home {
    display: flex;
    flex-direction: column;
}

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: var(--yellow);
}

.home-title {
    display: block;
    color: var(--yellow);
    opacity: 0;
    transition: .8s;
    transform: translate(-5%, -20%);
    overflow: hidden;
}

.home-title-move {
    animation: home-title-move 2s both;
}

@keyframes home-title-move {
    from {}

    to {
        transform: translate(0%, 0%);
        color: var(--grey);
        opacity: 1;
    }
}

.home-title-underline {
    display: block;
    width: 0%;
    height: 0px;
    background-color: var(--grey);
    animation: home-title-underline 3s ease-out both;
    animation-delay: .8s;
}

@keyframes home-title-underline {
    0% {}

    50% {
        transform: translateX(200%);
    }

    100% {
        width: 100%;
        height: 4px;
        transform: translateX(0%);
    }
}

.home-subtitle {
    color: var(--grey);
    font-size: 1.5rem;
    margin: 0;
    transform: translateY(100%);
    opacity: 0;
    animation: home-subtitle .8s ease-out both;
    animation-delay: 2.8s;
}

@keyframes home-subtitle {
    0% {}

    50% {
        opacity: 20%;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.home-interest {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-interest-list {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    min-width: 300px;
    max-width: 600px;
}

.home-interest-items {
    border-bottom: 2px solid var(--yellow);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 5px;
    color: var(--white);
    transition: .3s;
}

.home-interest-items:hover {
    color: var(--grey);
    font-weight: bold;
    margin: 0 15px 0 15px;
}

.home-interest-items:hover .home-interest-cover {
    transform: translateX(0);
}

.home-interest-cover {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--yellow);
    transform: translateX(-150%) skewX(-45deg);

    transition: .3s;
}


.home-interest-view {
    display: flex;
    min-width: 300px;
    max-width: 400px;
    height: 400px;
    margin: auto;
    overflow: hidden;

    transition: .8s;
    border: 4px solid var(--yellow);
}

.home-interest-view img {
    width: 100%;
    height: 400px;
}

.home-explain {
    display: flex;
    margin: 0 auto;
    min-width: 400px;
    height: 400px;
    position: relative;
}

.home-explain-title {
    position: absolute;
    top: 10%;
    left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 350px;
    height: 100px;
    color: var(--grey);
    background-color: var(--yellow);
    transition: .6s;
    animation: shadowing-left 2s ease-in-out both;
    animation-delay: 1.6s;

}

@keyframes shadowing-left {
    0% {
        box-shadow: 0 0 rgba(255, 193, 78, 0.5);
    }

    50% {
        box-shadow: -10px 10px var(--grey);
    }

    100% {
        box-shadow: -5px 5px rgba(255, 193, 78, 0.6);
    }
}

@keyframes shadowing-right {
    0% {
        box-shadow: 0 0 rgba(255, 193, 78, 0.5);
    }

    50% {
        box-shadow: 10px 10px var(--grey);
    }

    100% {
        box-shadow: 5px 5px rgba(255, 193, 78, 0.6);
    }
}

.home-explain-text {
    position: absolute;
    top: 50%;
    left: 30%;

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    overflow: auto;

    font-weight: bold;
    font-size: 1rem;

    padding: 15px;

    color: var(--grey);
    background-color: var(--yellow);
    animation: shadowing-right 2s ease both;
    animation-delay: 3s;
}


.home-explain-text-p1 {
    display: block;
    padding-bottom: 1.2rem;
}

.home-explain-text-p2 {
    display: block;
    font-weight: bold;
    text-align: left;
}

.home-interest-container {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 500px;
    position: relative;
}

.home-interest-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    background-color: var(--yellow);
    color: var(--grey);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5%;
    transition: .3s;
    user-select: none;
}

.home-interest-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    background-color: var(--yellow);
    color: var(--grey);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5%;
    transition: .3s;
    user-select: none;
}

.home-interest-next:hover {
    transform: translateX(-5%);
}

.home-interest-prev:hover {
    transform: translateX(-5%);
}