<nav class="navbar">
	<div class="navbar-logo"></div>
	<div class="navbar-navigation">
		<ul class="navbar-navigation-list">
			<li>Acceuil</li>
			<li>CV</li>
			<li>
				à Propos</li>
			<li>
				Contact</li>
			<li>
				Mes projets</li>
		</ul>
	</div>
</nav>
